.gatsby-resp-image-figcaption {
  text-align: center;
  color: #888;
  padding: var(--spacing-2) var(--spacing-0);
  font-size: var(--fontSize-0);
}

figure.gatsby-resp-image-figure {
  margin: var(--spacing-10) 0;
}
